#Guilherme{
    background-color: #b90606;
    color : #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
}
#Guilherme p{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sublinhado{
    text-decoration: underline;
}
#Rafael{
    background-color: #b90606bf;
    color : #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
}
#Rafael p{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
