#introdução {
    background-color: #f4f4f4;
    color: rgb(40, 174, 89);
    margin: 20px 0;
    font-family: Arial, sans-serif;
}
.destaque{
    background-color: #ffeb3b;
    color: red;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}
#container {
    background-color: #09098a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}